version: "3.3"
services:
  spark-master:
    #image: cluster-apache-spark:3.0.2
    build: ./docker-spark-cluster-master
    ports:
      - "9090:8080"
      - "7077:7077"
    volumes:
      - ./docker-spark-cluster-master/apps:/opt/spark-apps
      - ./docker-spark-cluster-master/data:/opt/spark-data
    environment:
      - SPARK_LOCAL_IP=spark-master
      - SPARK_WORKLOAD=master
  spark-worker-a:
    #image: cluster-apache-spark:3.0.2
    build: ./docker-spark-cluster-master
    ports:
      - "9091:8080"
      - "7000:7000"
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_EXECUTOR_MEMORY=1G
      - SPARK_WORKLOAD=worker
      - SPARK_LOCAL_IP=spark-worker-a
    volumes:
      - ./docker-spark-cluster-master/apps:/opt/spark-apps
      - ./docker-spark-cluster-master/data:/opt/spark-data
  spark-worker-b:
    #image: cluster-apache-spark:3.0.2
    build: ./docker-spark-cluster-master
    ports:
      - "9092:8080"
      - "7001:7000"
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_EXECUTOR_MEMORY=1G
      - SPARK_WORKLOAD=worker
      - SPARK_LOCAL_IP=spark-worker-b
    volumes:
      - ./docker-spark-cluster-master/apps:/opt/spark-apps
      - ./docker-spark-cluster-master/data:/opt/spark-data

  zookeeper:
    image: zookeeper
    container_name: zookeeper
    restart: always
    ports:
      - "2181:2181"
    env_file:
      - env.list
    volumes:
      - ./kafka-mqtt-connect/zookeeper/data:/data
      - ./kafka-mqtt-connect/zookeeper/datalog:/datalog
  kafka:
    image: bitnami/kafka
    container_name: kafka
    ports:
      - "9095:9092"
    env_file:
      - env.list
    depends_on:
      - zookeeper
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    volumes:
      - ./kafka-mqtt-connect/config:/mosquitto/config
      - ./kafka-mqtt-connect/log/:/mosquitto/log/
      - data:/mosquitto/data/
    ports:
      - "1883:1883"
  mqtt-to-kafka:
    build: ./kafka-mqtt-connect
    container_name: mqtt-to-kafka
    depends_on:
      - kafka
      - mosquitto
    

volumes:
  data: ~
